.container{
    width: 100%;
}
.titleText{
    text-align: center;
    margin:10px 0;
    /* font-size: 20px;
    font-weight: 500; */
}
.itemContainer{
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    margin: 5px 0;
    padding: 5px 0;
}
.icon{
    flex:1;
}
.title{
    flex:2;
    text-align: center;
}
.bar{
    flex:5;
}
.pack{
    flex:2;
    text-align: center;
}